{% extends "base.html.twig" %}

{% block title %}Fiche produit{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Fiche produit</h1>
        </div>
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        <div id="ajax-produit-add" data-ajax="{{ path('admin_ajax_produit') }}"></div>
        <div class="row">
            <div class="content col-md-12">
                {{ form_start(form) }}
                    <div class="col-md-12">
                        <h2>Informations générales</h2>
                    </div>
                    <div class="col-md-12 input-margin">
                        <div class="col-md-6">{{ form_widget(form.type) }}</div>
                        <div class="col-md-6">{{ form_widget(form.isBillable) }}</div>
                        <div class="col-md-6 margin-top-20">{{ form_label(form.nom) }} {{ form_widget(form.nom) }}</div>
                        <div class="col-md-6 margin-top-20">{{ form_label(form.cuisson) }} {{ form_widget(form.cuisson) }}</div>
                        <div class="col-md-6 margin-top-20">{{ form_label(form.warnThreshold) }} {{ form_widget(form.warnThreshold) }}</div>
                        <div class="col-md-6 margin-top-20">{{ form_label(form.dangerThreshold) }} {{ form_widget(form.dangerThreshold) }}</div>
                        <div class="col-md-6 margin-top-20">{{ form_label(form.prixVente) }} {{ form_widget(form.prixVente) }}</div>
                        {{ form_widget(form._token) }}
                    </div>
                    <div class="col-md-12">
                        <h2>Composants</h2>
                        <button class="btn btn-primary" id="add-composant">Ajouter un composant</button>
                        <div id="composants" class="input-margin">
                            {% set nbComposant = 0 %}
                            {% for composant in form.composants %}
                                <div id="produit_modifier_composants_{{ nbComposant }}" class="composant col-md-6">
                                    <div class="col-md-12">
                                        <label class="required btn-margin">Nouveau composant</label><div id="delete-produit_modifier_composants_{{ nbComposant }}" class="btn btn-danger delete">X</div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="produit_modifier_composants_{{ nbComposant }}_produitComposant" class="required">Produit :</label>
                                        {{ form_widget(composant.produitComposant) }}
                                    </div>
                                    <div class="col-md-12">
                                        <label for="produit_modifier_composants_{{ nbComposant }}_quantite" class="required">Quantité :</label>
                                        {{ form_widget(composant.quantite) }}
                                    </div>
                                </div>
                                {% set nbComposant = nbComposant + 1 %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 col-center">{{ form_widget(form.Enregistrer) }}</div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/produit.js') }}"></script>
{% endblock %}