{% extends "base.html.twig" %}

{% block title %}Financier{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="row margin-top-10">
                <h1>Financier</h1>
            </div>
            <div class="row">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="content col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="row">
                                {{ form_start(form) }}
                                    <div class="col-xs-12 col-center">
                                        {{ form_widget(form.type) }}
                                    </div>
                                    <div class="col-xs-12 margin-top-10">
                                        {{ form_label(form.montant) }}
                                        {{ form_widget(form.montant) }}
                                    </div>
                                    <div class="col-xs-12 margin-top-10">
                                        {{ form_label(form.justification) }}
                                        {{ form_widget(form.justification) }}
                                    </div>
                                    {{ form_widget(form._token) }}
                                    <div class="col-xs-12 col-center">{{ form_widget(form.Enregistrer) }}</div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="row">
                                <ul class="list-inline">
                                    <li class="margin-left-20">CA : {{ ca }}</li>
                                    <li class="margin-left-20">Benefice : {{ benef }}</li>
                                    <li class="margin-left-20">Total : {{ total }}</li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ form_start(formSearch) }}
                                        {{ form_widget(formSearch.typeSearch) }}
                                        {{ form_widget(formSearch.Filtrer) }}
                                    {{ form_end(formSearch) }}
                                </div>
                            </div>
                            <div class="row">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="col-xs-3 col-sm-2">Type</th>
                                        <th class="col-xs-3 col-sm-2">Montant</th>
                                        <th class="col-xs-4 col-sm-6">Justification</th>
                                        <th class="col-xs-2 col-sm-2">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for operation in pagination %}
                                        <tr>
                                            <td class="col-xs-3 col-sm-2">
                                                {% if operation.type == 0 %}
                                                    Retrait
                                                {% elseif operation.type == 1 %}
                                                    Ajout
                                                {% elseif operation.type == 2 %}
                                                    Facture
                                                {% else %}
                                                    Vente
                                                {% endif %}
                                            </td>
                                            <td class="col-xs-3 col-sm-2">{{ operation.montant }}</td>
                                            <td class="col-xs-4 col-sm-6">{{ operation.justification }}</td>
                                            <td class="col-xs-2 col-sm-2"><a href="{{ path('admin_modifieroperation', {'id' : operation.id}) }}"><button class="btn btn-primary">Modifier</button></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <div class="navigation">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            {% include '@User/Alerte/alerte_stock.html.twig' %}
            {%  include '@User/Alerte/alerte_commande.html.twig' %}
        </div>
    </div>
{% endblock %}