{% extends "base.html.twig" %}

{% block title %}Tarif buvette{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1>Tarif buvette</h1>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 alert-success text-center margin-bottom-20 font-size-25">
                Nous prenons les Cartes Bancaires
            </div>
        </div>
        <div class="row">
            <div id="ajax-refresh-produits" data-ajax="{{ path('refresh_produits') }}"></div>
            <div class="col-xs-12">
                <div id="listeProduits" class="row">
                    {% for produit in produits %}
                        {% if produit.image is not null %}
                            <div id="{{ produit.id }}" style="background-image: url('{{ asset('/uploads/' ~ produit.image.path) }}');margin: 0 10px 20px 10px;" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 vignette">
                                <span id="pl-{{ produit.id }}-nom">{{ produit.nom }}</span>
                                <br/>
                                <span id="pl-{{ produit.id }}-prix">{{ produit.prixVente }}</span>€
                            </div>
                        {% else %}
                            <div id="{{ produit.id }}" style="background-image: url('{{ asset('bundles/buvette/images/noimagefound.jpg') }}');margin: 0 10px 20px 10px;" class="col-xs-6 col-sm-4 col-md-3 col-lg-2 vignette">
                                <span id="pl-{{ produit.id }}-nom">{{ produit.nom }}</span>
                                <br/>
                                <span id="pl-{{ produit.id }}-prix">{{ produit.prixVente }}</span>€
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/buvette/js/tarif.js') }}"></script>
{% endblock %}