{% extends "base.html.twig" %}

{% block title %}Buvette{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="row btn-margin">
                <h1>Buvette</h1>
            </div>
            <div class="row">
                <div class="content col-xs-12">
                    <ul class="nav nav-tabs margin-bottom-20">
                        <li id="tab-boisson" role="presentation" class="content-tab active"><a href="#">Boisson</a></li>
                        <li id="tab-pizza" role="presentation" class="content-tab"><a href="#">Pizza</a></li>
                        <li id="tab-sandwitch" role="presentation" class="content-tab"><a href="#">Sandwitch</a></li>
                        <li id="tab-snack" role="presentation" class="content-tab"><a href="#">Snack</a></li>
                    </ul>
                    <div id="table-boisson" class="content-table col-xs-12 col-sm-6 col-md-8">
                        {% for produit in produitsD %}
                            {% if produit.image is not null %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('uploads/' ~ produit.image.path) }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% else %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('bundles/buvette/images/noimagefound.jpg') }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="table-pizza" class="not-display content-table col-xs-12 col-sm-6 col-md-8">
                        {% for produit in produitsP %}
                            {% if produit.image is not null %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('uploads/' ~ produit.image.path) }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% else %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('bundles/buvette/images/noimagefound.jpg') }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="table-sandwitch" class="not-display content-table col-xs-12 col-sm-6 col-md-8">
                        {% for produit in produitsSA %}
                            {% if produit.image is not null %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('uploads/' ~ produit.image.path) }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% else %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('bundles/buvette/images/noimagefound.jpg') }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div id="table-snack" class="not-display content-table col-xs-12 col-sm-6 col-md-8">
                        {% for produit in produitsS %}
                            {% if produit.image is not null %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('uploads/' ~ produit.image.path) }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% else %}
                                <div id="{{ produit.id }}" data-name="{{ produit.nom }}" data-cost="{{ produit.prixVente }}" style="background-image: url('{{ asset('bundles/buvette/images/noimagefound.jpg') }}');" class="col-xs-6 col-sm-6 col-md-3 vignette">{{ produit.nom }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-12 col-center">
                                Montant total : <span id="cout-total-command">0</span>€
                            </div>
                        </div>
                        <div id="listing-commande"></div>
                        <div class="row">
                            <button id="valider-espece-commande" class="btn btn-success col-xs-5 margin-top-20">Payer en espèce</button>
                            <button id="valider-cb-commande" class="btn btn-success col-xs-5 col-xs-offset-2 margin-top-20">Payer par CB</button>
                        </div>
                        <div class="row">
                            <button id="valider-autre-commande" class="btn btn-success col-xs-5 margin-top-20">Payer autrement</button>
                            <button id="annuler-commande" class="btn btn-danger col-xs-5 col-xs-offset-2 margin-top-20">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            {% include '@User/Alerte/alerte_commande.html.twig' %}
            {% include '@User/Alerte/alerte_stock.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/user/js/table_content.js') }}"></script>
    <script src="{{ asset('bundles/buvette/js/buvette.js') }}"></script>
{% endblock %}