{% extends "base.html.twig" %}

{% block title %}Paramètres{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Paramètres</h1>
        </div>
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        <div class="row content">
            {{ form_start(form) }}
                <div class="col-md-12 input-margin">
                    <div class="col-md-6 margin-top-20">{{ form_label(form.warningWait) }} {{ form_widget(form.warningWait) }}</div>
                    <div class="col-md-6 margin-top-20">{{ form_label(form.dangerWait) }} {{ form_widget(form.dangerWait) }}</div>
                    <div class="col-md-6 margin-top-20">{{ form_label(form.hovenCapacity) }} {{ form_widget(form.hovenCapacity) }}</div>
                    {{ form_widget(form._token) }}
                </div>
                <div class="col-md-12 col-center">{{ form_widget(form.Modifier) }}</div>
            </form>
        </div>
    </div>
{% endblock %}